.button {
    margin-left: 10px;
}

.addButton {
    margin-right: 50px;
    margin-top: 50px;
}

.container {
    margin-top: 25px;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modalContent {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 50px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    border-radius: 100px;
}

.container form h1 {
    margin-bottom: 40px;
}

.container input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid darkgrey;
    background-color: white;
    font-size: 16px;
    transition: all 0.3s ease;
}

.container select {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid darkgrey;
    background-color: white;
    font-size: 16px;
    transition: all 0.3s ease;
}

.container input:focus {
    outline: none;
    border: 1px solid dodgerblue;
    box-shadow: 0 0 5px dodgerblue;
}

.container select:focus {
    outline: none;
    border: 1px solid dodgerblue;
    box-shadow: 0 0 5px dodgerblue;
}

.container button[type="submit"] {
    padding: 5px;
    border: 1px solid white;
    border-radius: 13px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container button[type="submit"]:hover {
    background-color: mediumslateblue;
    border: 1px solid white;
    box-shadow: 0 0 10px white;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.inputContainer label {
    align-self: flex-start;
    margin-bottom: 5px;
    font-weight: bold;
}

.formContainer a:link {
    color: deepskyblue;
    background-color: transparent;
    text-decoration: none;
}

.formContainer a:visited {
    color: deepskyblue;
    background-color: transparent;
    text-decoration: none;
}

.formContainer a:hover {
    color: deepskyblue;
    background-color: transparent;
    text-decoration: underline;
}
