.login {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.rememberMe {
    color: powderblue;
}
.signupPage {
    margin: 150px auto auto;
    width: 22%;
    height: 55%;
    border-radius: 89px;
    padding: 10px;
    background-color: rgba(0,0,0,0.75);
}

.form-control {
    margin-bottom: 20px;
}

.auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
}

.input {
    background-color: #d8d8dd;
    max-width: 300px;
    margin-bottom: 30px;
}