.title {
    color: white;
    font-size: 30px;
}

.subtitle {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.banner {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 21%;
    background-color: black;
    opacity: 0.7;
    color: white;
    text-align: left;
}

.banner p {
    margin-left: 20px;
    opacity: 1;
}

.banner div {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
    opacity: 1;
}


.footer {
    flex-direction: row;
    position: absolute;
    bottom: 0;
    background-color: black;
    color: white;
    text-align: left;
}

.left {
    float: left;
}

.right {
    float: right;
    margin-right: 20px;
    margin-top: 25px;
}