.container {
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.form {
    padding: 20px;
}

.form input[type="text"], .form input[type="email"], .form select {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.form input[type="text"]:disabled, .form input[type="email"]:disabled, .form select:disabled {
    background-color: #f0f0f0;
}

.btn {
    padding: 12px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    width: 50%;
    max-width: 100px;
    position: relative;
}

.types {
    margin-left: 25px;
    margin-top: 25px;
}


.form input[type="checkbox"] {
    margin-right: 10px;
}

.form input[type="email"]:focus,
.form input[type="text"]:focus {
    outline: none;
    border: 1px solid #0066cc;
    box-shadow: 0 0 3px #0066cc;
}


