.card{
    width: 25rem;
    border-radius: 50px;
    height: 37rem;
    background-color: #D9D9D9;
}

.cardImg {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.readMore {
    text-align: left;
    padding: 20px;
    border: none;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    width: 40%;
}

.more {
    position: absolute;
    bottom: -50px;
    right: 44%;
    width: 12%;

}

.more p {
    font-size: 22px;
    color: black;
    background-color: #D9D9D9;
    opacity: 1;
    border-radius: 105px;
    text-align: center;
}

.overlay p {
    font-size: 15px;
    color: black;
    background-color: white;
    opacity: 0.7;
    border-radius: 105px;
    text-align: center;
    font-style: italic;
}

.mainDiv {
    position: relative;
}

