
.splitImage {
    width: 100%;
    height: 380px;
    opacity: 0.89;
}

.divImage {

}
.divImage h1 {
    color: white;
    font-family: "Inter", Helvetica, serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 800;
    letter-spacing: 0;
    position: absolute;
    top: 380px;
    left: 25px;
    width: 90%;
    text-align: left;
}

.descriptionBox {
    background-color: #cad2d4bf;
    border-radius: 100px;
    left: 21vw;
    position: absolute;
    margin-top: 30px;
    width: 60%;
}

.description {
    color: black;
    font-family: "Inter", Helvetica, serif;
    font-size: 1.1vw;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    padding: 50px;
}

h2 {
    padding: 25px;
}
